:where(h1:where(:not([class])), .h1) {
    font-size: var(--heading-size-1);
}

:where(h2:where(:not([class])), .h2) {
    font-size: var(--heading-size-2);
}

:where(h3:where(:not([class])), .h3) {
    font-size: var(--heading-size-3);
}

:where(h4:where(:not([class])), .h4) {
    font-size: var(--heading-size-4);
}

:where(h5:where(:not([class])), .h5) {
    font-size: var(--heading-size-5);
}

:where(h6:where(:not([class])), .h6) {
    font-size: var(--heading-size-6);
}

:where(
    :where(h1, h2, h3, h4, h5, h6):where(:not([class])),
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
) {
    line-height: var(--leading-heading);
}
