@layer component {

    :host {
        --_section-align:               var(--section-align, start);
        --_section-background-color:    var(--section-background-color, oklch(var(--color-neutral-50-oklch)));
        --_section-color:               var(--section-color, oklch(var(--color-neutral-950-oklch)));
    }

    [part=root] {
        align-items: start;
        background: var(--_section-background-color);
        border-block: var(--border-size-1) solid var(--_section-color);
        color: var(--_section-color);
        display: grid;
        gap: var(--size-fluid-4);
        inline-size: stretch;
        justify-items: var(--_section-align);
        padding-block: var(--size-fluid-6);
        padding-inline: var(--size-fluid-2);
    }

    :is([part="header"], [part="footer"]) {
        align-items: start;
        display: grid;
        gap: var(--size-fluid-2);
        justify-items: var(--_section-align);
        text-align: var(--_section-align);
    }

    :is([part="heading"], [part="intro"]) {
        margin-block: 0;
    }

    [part="content"] {
        inline-size: 100%;
    }

    :is([part="header-actions"], [part="footer-actions"]) {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-fluid-1);
    }

}
