@layer component {

	:host {
		--_button-background-color:         var( --button-background-color, oklch(var(--color-neutral-1000-oklch)) );
		--_button-background-color--hover:  var( --button-background-color--hover, var(--_button-color) );
		--_button-border-color:             var( --button-border-color, oklch(var(--color-neutral-1000-oklch)) );
		--_button-border-color--hover:      var( --button-border-color--hover, var(--_button-border-color) );
		--_button-color:                    var( --button-color, oklch(var(--color-neutral-0-oklch)) );
		--_button-color--hover:             var( --button-color--hover, var(--_button-background-color) );
	}

	:host([variant="secondary"]) {
		--button-background-color: 	oklch(var(--color-neutral-0-oklch));
		--button-border-color: 			oklch(var(--color-neutral-0-oklch));
		--button-border-color--hover: oklch(var(--color-neutral-1000-oklch));
		--button-color: 					oklch(var(--color-neutral-1000-oklch));
	}

	:host([variant="outline"]) {
		--button-background-color: oklch(var(--color-neutral-0-oklch));
		--button-border-color: oklch(var(--color-neutral-1000-oklch));
		--button-color: oklch(var(--color-neutral-1000-oklch));

		& [part="root"] {
			box-shadow: none;
		}
	}

	[part="root"]:where(button) {
		@add-mixin button-reset;
	}

	[part="root"] {
		background: var(--_button-background-color);
		border: var(--border-size-2) solid var(--_button-border-color);
		border-radius: var(--radius-3);
		box-shadow:
			0.3px 0.5px 0.8px oklch(from var(--_button-color) l c h / 0.06),
			0.5px 1.1px 1.8px -0.1px oklch(from var(--_button-color) l c h / 0.24),
			1.2px 2.4px 3.9px -0.3px oklch(from var(--_button-color) l c h / 0.42);
		color: var(--_button-color);
		padding: var(--size-fluid-1) var(--size-fluid-2);
		font-family: inherit;
		font-size: var(--text-size-sm);
		font-weight: var(--font-weight-semibold);
		letter-spacing: var(--tracking-wider);
		line-height: var(--leading-none);
		transition:
			background-color var(--duration-fast) var(--ease-out-quint),
			border-color var(--duration-fast) var(--ease-out-quint),
			color var(--duration-fast) var(--ease-out-quint);

		&:is(a) {
			display: inline-block;
			text-decoration: none;
		}

		&:is(:hover, :focus) {
			background: var(--_button-background-color--hover);
			border-color: var(--_button-border-color--hover);
			color: var(--_button-color--hover);
		}
	}
}
