@layer component {

    :host {
        display: block;
    }

    [part="root"] {
        display: block;
    }

    ave-section::part(content) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
        gap: var(--size-fluid-4);
    }

    ave-card::part(root) {
        min-inline-size: 0;
    }
}
