@define-mixin dialog-reset {
    block-size: auto;
    border: 0;
    inline-size: auto;
    inset: unset;
    margin: 0;
    max-block-size: none;
    max-inline-size: none;
    padding: 0;
    position: relative;
}
