@define-mixin block-link {
    --_link-color: var(
        --link-color,
        var(--theme-color-action, var(--color-link-500))
    );
    --_link-color-hover: var(
        --link-color-hover,
        var(--theme-color-action-hover, var(--color-link-700))
    );
    --_link-color-icon: var(--link-color-icon, var(--_link-color));
    --_link-color-icon-hover: var(
        --link-color-icon-hover,
        var(--_link-color-hover)
    );
    --_link-font-family: var(--link-font-family, var(--font-text));
    --_link-font-size: var(--link-font-size, var(--size-1));
    --_link-font-weight: var(--link-font-weight, var(--font-weight-bold));
    --_link-gap: var(--link-gap, 1em);
    --_link-line-height: var(--link-line-height, var(--leading-loose));
    --_link-outline: var(--link-outline, var(--focus-outline));
    --_icon-ratio: var(--ratio-film);

    align-items: center;
    color: var(--_link-color);
    display: inline-flex;
    font-family: var(--_link-font-family);
    font-size: var(--_link-font-size);
    font-weight: var(--_link-font-weight);
    gap: var(--_link-gap);
    line-height: var(--_link-line-height);
    text-decoration: none;
    transition: color var(--duration-fast) var(--ease-out);

    @media (any-hover: hover) {
        &:hover {
            color: var(--_link-color-hover);

            .block-link__icon {
                color: var(--_link-color-icon-hover);
            }
        }
    }

    &:focus {
        [data-whatintent='keyboard'] & {
            outline: var(--outline-width, 3px) solid
                var(--outline-color, var(--color-red, currentColor));
            outline-offset: var(--outline-offset, 4px);
            color: var(--_link-color-hover);
        }
    }
}

@define-mixin block-link-icon {
    aspect-ratio: var(--icon-ratio, var(--_icon-ratio));
    color: var(--_link-color-icon);
    flex: 0 0 auto;
    max-block-size: 0.75em;
    transition: color var(--duration-fast) var(--ease-out);

    > svg {
        block-size: 100%;
        display: block;
        inline-size: 100%;
        object-fit: contain;
    }
}

@define-mixin inline-link {
    --_link-color: var(--link-color, currentColor);
    --_link-color-hover: var(--link-color-hover, currentColor);
    --_link-decoration-color: var(--link-decoration-color, transparent);
    --_link-decoration-color-hover: var(
        --link-decoration-color-hover,
        currentColor
    );
    --_link-font-weight: var(--link-font-weight, var(--font-weight-medium));
    --_link-underline-thickness: var(--link-underline-thickness, 3px);
    --_link-outline: var(--link-outline, var(--focus-outline));
    --_link-underline-offset: var(--link-underline-offset, 8px);
    --_link-underline-offset-hover: var(--link-underline-offset-hover, 4px);

    color: var(--_link-color);
    font-weight: var(--_link-font-weight);
    text-decoration-line: underline;
    text-decoration-color: var(--_link-decoration-color, currentColor);
    text-decoration-skip-ink: all;
    text-decoration-style: solid;
    text-decoration-thickness: var(--_link-underline-thickness);
    text-underline-offset: var(--_link-underline-offset);
    transition: var(--duration-fast) var(--ease-out-3);
    transition-property: color, text-decoration-color, text-decoration-offset;

    &:where(.current) {
        --link-decoration-color: var(--color-red);
    }

    @media (any-hover: hover) {
        &:hover {
            color: var(--_link-color-hover);
            text-decoration-line: underline;
            text-decoration-color: var(
                --_link-decoration-color-hover,
                currentColor
            );
            text-decoration-skip-ink: all;
            text-decoration-style: solid;
            text-decoration-thickness: var(--_link-underline-thickness);
            text-underline-offset: var(--_link-underline-offset-hover);
        }
    }

    &:focus {
        [data-whatintent='keyboard'] & {
            outline: var(--outline-width, 3px) solid
                var(--outline-color, var(--color-red, currentColor));
            outline-offset: var(--outline-offset, 4px);
            color: var(--_link-color-hover);
            text-decoration-line: underline;
            text-decoration-color: var(
                --_link-decoration-color-hover,
                currentColor
            );
            text-decoration-skip-ink: all;
            text-decoration-style: solid;
            text-decoration-thickness: var(--_link-underline-thickness);
            text-underline-offset: var(--_link-underline-offset-hover);
        }
    }
}

@define-mixin article-link {
    background: linear-gradient(var(--color-red), var(--color-red));
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 0%;
    border-radius: var(--radius-2);
    color: currentColor;
    font-weight: var(--font-weight-bold);
    margin-inline: -0.25em;
    padding: 0.5em 0.25em;
    text-decoration: underline;
    text-decoration-color: var(--color-red);
    text-decoration-skip-ink: all;
    text-decoration-style: solid;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.25em;
    transition:
        background-size var(--duration-fast) var(--ease-out-3),
        color var(--duration-fast) var(--ease-out-3);

    @media (any-hover: hover) {
        &:hover {
            background-position: 0 100%;
            background-size: 100% 100%;
            color: var(--color-mono-0);
        }
    }

    &:focus {
        [data-whatintent='keyboard'] & {
            outline: var(--outline-width, 3px) solid
                var(--outline-color, var(--color-red, currentColor));
            outline-offset: var(--outline-offset, 4px);
            background-position: 0 100%;
            background-size: 100% 100%;
            color: var(--color-mono-0);
        }
    }
}

@define-mixin pseudo-link $z, $pseudo, $inset {
    &::$(pseudo) {
        content: '';
        inset: $(inset);
        position: absolute;
        z-index: $(z);
    }
}
