@layer component {

   :host {
      block-size: 100%;
      display: block;
      inline-size: 100%;
   }

   :host([object-fit="contain"]) img {
      object-fit: contain;
   }

   :host([object-fit="cover"]) img {
      object-fit: cover;
   }

   [part=root] {
      block-size: 100%;
      display: block;
      inline-size: 100%;
   }

   img {
      block-size: 100%;
      display: block;
      inline-size: 100%;
   }
}
